<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="3U0gnaIlDyQMNM4gwFY2gO6xf7AX0Om046GS3diORLo"/>
  <link rel="icon" href="/img/img_logo.png">
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/eeimecdjjjhialcmahcmibnhlnjklibd">

  <!--<link rel="stylesheet" href="/static/css/bootstrap.css">-->
  <link rel="stylesheet" href="/static/css/style.css">
  {{{block 'pageStyles'}}}

  <title>{{title }}</title>
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
{{{body}}}
<!--{{{block "scripts"}}}-->
{{{block "pageScripts"}}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-48882732-16"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());

  gtag('config', 'UA-48882732-16');
</script>

</body>
</html>